/__pycache__/*
/prontuarioapp/__pycache__/*
/apps/sistema/__pycache__/*
/apps/sistema/migrations/*
/apps/paciente/__pycache__/*
/apps/paciente/migrations/*
/apps/farmacia/__pycache__/*
/apps/farmacia/migrations/*
/apps/medico/__pycache__/*
/apps/medico/migrations/*
/apps/medicamento/__pycache__/*
/apps/medicamento/migrations/*
/apps/prescricao/__pycache__/*
/apps/prescricao/migrations/*
/apps/prontuario/__pycache__/*
/apps/prontuario/migrations/*